# This file can be edited to feed special options
# to java during execution, you comment out an option by
# placing an # infront of the line

# Jagex default settings
-Djava.class.path=jagexappletviewer.jar
-Dsun.java2d.noddraw=true
-Dcom.jagex.config=http://www.runescape.com/k=3/l=$(Language:0)/jav_config.ws
-Xmx512m

# Stack size fixing Error_game_crash, Credit to Test6125 for the solution
-Xss1m

# Proxy settings
#-DhttpProxyHost=127.0.0.1
#-DhttpProxyPort=8080
#-DhttpsProxyHost=127.0.0.1
#-DhttpsProxyPort=8080
#-DsocksProxyHost=127.0.0.1
#-DsocksProxyPort=9050

# Try to make the client use the 64-bit data model if possible (not sure if it actually works)
#-d64

# Get some debug information if run from the terminal (not the same as --verbose)
-Xdebug

# Class to execute
jagexappletviewer
